body {
  height: 100%;
  width: 100%;
  background-color: #e7dede;
}

nav {
  padding: 7px 36px;
  justify-content: space-between;
  color: rgb(236, 236, 251);
}

/* list page */

.list-header {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 2px #333;
  border-radius: 5px;
}

.list-item {
  padding: 10px;
  border: 1px solid #877e7e;
  border-radius: 5px;
  background-color: #ebe5e5;
}

@media (max-width: 768px) {
  .list-header {
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
    font-size: 13px;
  }

  .list-item {
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
    text-overflow: clip;
  }
}

@media (max-width: 500px) {
  .list-item {
    font-size: 9px;
  }
}
